<%= form_with(model: hashtag, local: true) do |form| %>
  <% if hashtag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hashtag.errors.count, "error") %> prohibited this hashtag from being saved:</h2>

      <ul>
        <% hashtag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :term, class: "col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-form-label"  %>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <%= form.text_field :term, class: "form-control form-control-sm" %>
    </div>  
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success btn-sm' %>
  </div>
  <hr />
<% end %>
