<h1>Hashtags</h1>

<table class="table">
  <thead>
    <tr>
      <th>Term</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hashtags.each do |hashtag| %>
      <tr>
        <td><%= hashtag.term %></td>
        <td>
          <%= link_to 'Show', hashtag, class: 'btn btn-info btn-sm' %>
          <%= link_to 'Edit', edit_hashtag_path(hashtag), class: 'btn btn-success btn-sm' %>
          <%= link_to 'Destroy', hashtag, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Search tweets', { controller: 'search', action: 'index', term: hashtag.term }, method: :get, class: 'btn btn-primary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hashtag', new_hashtag_path, class: 'btn btn-primary btn-sm' %>
